@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

svg {fill: white;}

/* CONTENT */

.content {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(100px, 250px) 2fr 1fr;
    grid-template-rows: minmax(130px, 170px) 1fr 1fr;
}

/* SIDEBAR */

.sidebar {
    background-color: #1581e6;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: auto 1fr 1fr;
    grid-row: 1 / 4;
    padding-left: 2rem;
    padding-top: 1rem;
    color: #fff;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 2em;
    column-gap: 10px;
}

.links-top ul, .links-bot ul{
    display: grid;
    gap: 1rem;
    font-size: 1.2em;
    font-weight: 600;
}

ul li {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
}

li svg {
    width: 1em;
    padding-right: 1em;
}

/* HEADER */

.header {
    background-color: #fff;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(40px, 120px));
    padding: 0 1.5em 1.0em 1.5em;
    border-bottom: 2px solid lightgray;
}

.header .search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.search .bar {
    background-color: rgba(211, 211, 211, 0.459);
    height: 45%;
    border-radius: 10px;
    margin: 0 4rem 0 1.5em;
}

.header .profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.header .post {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
}

.message .welcome {
    font-size: 13px;
    font-weight: 500;
}

.message .fullname {
    font-size: 18px;
    font-weight: 600;
}

.header .action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1.2rem;
}

.action-buttons button {
    border: none;
    border-radius: 20px;
    padding: 0.8em;
    background-color: #1581e6;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* MAIN */
.main {
    display: grid;
    grid-template-columns: 2fr minmax(180px, 280px);
    grid-template-rows: 5px 1fr 5px;
    grid-column: 2 / 4;
    padding: 1.5em 1.5em 1em 1.5em;
    gap: 25px;
    background-color: rgb(230, 230, 230);
    
}

/* ARTICLE */

.article-title {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 500;
}

.article {
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.article .card {
    height: 160px;
    background-color: #fff;
    border-left: 6px solid orange;
    border-radius: 8px;
    padding-left: 15px;
    padding-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card p {
    padding: 3px;
    font-size: 15px;
    width: 90%;
}

.card .title {
    font-weight: 600;
}

.card .description {
    font-size: 13px;
    color: #747474;
}

/* ANNOUNCEMENTS */

.announcements-title {
    font-weight: 500;
}

.announcements {
    /* grid-column: 3 / 4; */
    border-radius: 8px;
    padding: 2em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.announcements .message {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaaaaa;
    font-size: 15px;
    font-weight: 500;
}

.announcements .description
{
    font-size: 13px;
    font-weight: 400;
    color: #747474;
}

/* TRENDING */

.trending-title {
    font-weight: 500;
}

.trending {
    /* grid-column: 3 / 4; */
    border-radius: 8px;
    padding: 2em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    gap: 12px;
}

.trending .person {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.person .pic {
    grid-column: 1 / 2;
}

.person .name, .tag {
    grid-column: 2 / 3;
    font-size: 13px;
}

.person .tag {
    font-size: 13px;
    color: #747474;
}

/* FOOTER */

.footer {
    grid-column: 1 / 4;
    background-color: lightgray;
    text-align: center;
}